<div class="alchemy-stats--numeric">
    <span class="mdc-typography--body1">@Label</span>
    <input type="number" 
        min="@(Min?.ToString() ?? string.Empty)"
        max="@(Max?.ToString() ?? string.Empty)"
        step="@(Step?.ToString() ?? string.Empty)"
        value="@(Default?.ToString() ?? string.Empty)"
        onchange="@(e => Change((string)e.Value))" />
</div>

@functions
{
    [Parameter]
    private decimal? Default { get; set; }

    [Parameter]
    private string Label { get; set; }

    [Parameter]
    private int? Min { get; set; }

    [Parameter]
    private int? Max { get; set; }

    [Parameter]
    private decimal? Step { get; set; }

    [Parameter]
    private Action<string> Change { get; set; }
}